@use 'variables' as v;
@use 'mixins';
.cart-modal {
    display: none;
    width: 360px;
    height: 260px;
    background-color: v.$White;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 75px;
    right: 6px;
    &__checkout-container {
        //margin: 0 25px;
        padding: 25px;
    }
    &__title {
        border-bottom: 1px solid v.$Grayish-blue;
        padding: 25px;
        font-weight: 700;
    }
    &__icon-close {
        position: absolute;
        top: 28px;
        right: 20px;
        &:hover {
            cursor: pointer;
            content: url('/images/icon-close-orange.svg');
        }
    }
    &__details-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
        color: v.$Dark-grayish-blue;
    }
    &__img {
        width: 50px;
        border-radius: 4px;
    }
    &__price span {
        color: v.$Black;
        font-weight: 700;
    }
    &__delete:hover {
        cursor: pointer;
        content: url('/images/icon-delete-Orange.svg');
    }
    &__checkout {
        @include mixins.button;
        margin-top: 0;
    }
}