@use 'variables' as v;
@use 'mixins';
.modal-gallery {
    width: 550px;
    &__background {
        @include mixins.modal-background;
        display: none;
        place-content: center;
    }
    &__close-container {
        text-align: right;
        height: 30px;
    }
    &__close {
        width: 16px;
        &:hover {
            cursor: pointer;
            content: url('../images/icon-close-orange.svg');
        }
    }
    &__image-container {
        background-image: url('../images/image-product-1.jpg');
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 32px;
        height: 446px;
        position: relative;
    }
    &__thumnails {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__thumnail {
        width: 90px;
        border-radius: 16px;
        &:hover {
            cursor: pointer;
            border: 2px solid v.$Orange;
        }
    }
    &__image-previus {
        @include mixins.image-btn(190px,
        -20px,
        true);
    }
    &__image-next {
        @include mixins.image-btn(190px,
        525px,
        true);
    }
}